body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a2e; 
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #162447; 
    color: #f5f5f5;
    padding: 20px 0;
    margin: 0;
    font-size: 2.5em;
    text-shadow: 1px 1px 4px #0f3460;
}

p {
    margin: 20px 0;
    font-size: 1.2em;
    color: #c0c0c0;
}


.reto1, .reto2 /*, .reto3 */ {
    margin: 20px auto;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}


.reto1 {
    background-color: #0f3460; 
}

.reto2 {
    background-color: #53354a; 
}

.reto1 a, .reto2 a /*, .reto3 a */ {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 1.2em;
}

.reto1:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0,0,0,0.7);
}

.reto2:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0,0,0,0.7);
}

h2 {
    position: fixed;      
    bottom: 0;            
    left: 0;              
    width: 100%;         
    background-color: #162447;
    color: #f5f5f5;       
    text-align: center;    
    padding: 15px 0;
    margin: 0;
    font-size: 1.5em;
    z-index: 1000;       
}


a {
    color: #f5f5f5;       
    text-decoration: none;
    font-weight: bold;
}


a:hover {
    color: #00ffff; 
}