body {
    background-color: #F8F5F0;
    color: #2B2B2B;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    margin-left: 250px;
    margin-right: 250px;
}

header {
    background-color: #C44536;
    color: #F8F5F0;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 3px solid #DDC3A5;
}

hr {
    border: none;
    border-top: 1px solid #DDC3A5;
    margin: 30px auto;
    width: 80%;
}

h2 {
    font-size: 1.6em;
    color: #2B2B2B;
    margin: 15px;
}

img {
    width: 245px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.25s ease;
}

img:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: darkblue;
    text-decoration: underline
}

footer {

    display: flex;                
    justify-content: center;     
    align-items: center;         
    padding: 10px;
    gap: 8px;
    text-align: center;
    background-color: #EAD0C1;
    color: #2B2B2B;
    padding: 15px 0;
    border-top: 2px solid #DDC3A5;
    margin-top: 50px;

}
.a{
    width: 30px;     
    height: auto; 
}