body {
    background-color: #F8F5F0;
    color: #2B2B2B;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
}

header {
    text-align: center;
    background-color: #C44536;
    color: #F8F5F0;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 3px solid #DDC3A5;
}

a {
    text-align: center;
    text-decoration: none;
    color: rgb(173, 70, 75);
}

a:hover {
    color: darkblue;
    text-decoration: underline;


}

footer {
    text-align: center;
    background-color: #EAD0C1;
    color: #2B2B2B;
    padding: 15px 0;
    border-top: 2px solid #DDC3A5;
    margin-top: 5s0px;
}

img {
    margin-left: 465px;
    text-align: center;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
p {
    text-align: center;
}
h2 {
    text-align: center;
}

.lista1{
    text-align: left;
    margin-left: 625px;
}
.lista2 {
    text-align: left;
    margin-left: 300px;
    margin-right: 300px;
}