body {
    font-family: Arial;
    background: #fff7d6;
    padding: 20px;
}

form {
    background: white;
    padding: 20px;
    max-width: 430px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;
}

.opciones label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, button {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #ffcc33;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
button:hover { background: #ffb800; }
